.password{
    padding: 55px;
}
.form{
    position: absolute;
    left: 25%;
    border-radius: 25px;
    width: 750px;
    padding: 20px;
    background-color: #F9F9F9;
    box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}